* {
    box-sizing: border-box;
}

.main-container {
    width: 300px;
    margin: auto;
    margin-top: 36px;
    
    border: black solid 2px;
    border-radius: 12px;
    
    background-color: #aaa;
}

.btn {
    height: 64px;
    width: 64px;
    
    border: black solid 2px;
    border-radius: 4px;
    
    cursor: pointer;
    
    background-color: #eee;
}

.btn:hover {
    background-color: #ddd;
}

#display-upper,
#display-lower,
.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
    display: flex;
    gap: 12px;
    margin: 12px;
}

#display-upper,
#display-lower {
    min-height: 48px;
    padding: 12px;
    width: 272px;

    justify-content: end;
    
    background-color: white;
    
    border: black solid 2px;
    border-radius: 4px;

    word-break: break-word;    
}

#zero {
    width: 140px;
}

.btn:active {
    background-color: #ccc;
}

#clear {
    background-color: #faa;
}

#backspace {
    background-color: #aaf;
}

#clear:hover {
    background-color: #e99;
}

#backspace:hover {
    background-color: #99e;
}

#clear:active {
    background-color: #d88;
}

#backspace:active {
    background-color: #88d;
}